@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Cairo', sans-serif;
  background-color: #020617; /* slate-950 */
  background-image: radial-gradient(circle at 1px 1px, rgba(255,255,255,0.04) 1px, transparent 0);
  background-size: 2rem 2rem;
}